main {
  font-family: "Comic Sans MS", "Comic Sans";
  background-color: rgb(68, 193, 238);
}
header {
  background-color: rgb(4, 104, 217);
  margin: 0;
  padding-top: 10px;
  border: dashed 10px rgb(255, 255, 255);
}
body {
  margin: 0;
}
#franchise {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
#allLogosHeader {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  height: 70px;
}
#logo {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
#cartLogo {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
#allProductsBtns {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.picForCat {
  justify-items: center;
  cursor: pointer;
}
.categories {
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
  font-size: 15px;
}
.hidden-categories-text {
  display: none;
}

@media (max-width: 560px) {
  .categories {
    display: none;
  }
  #allProductsBtns {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
  .picForCat {
    display: block;
  }
  .hidden-categories-text {
    display: block;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
  }
  #franchise {
    font-size: 15px;
  }
}
